/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*========== Colors ==========*/
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,::before, ::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
}


/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer ;
}

.change-theme:hover{
  color: var(--title-color);
}

/*========== Font size variables to scale cv ==========*/
body.scale-cv{
  --h1-font-size: .938rem;
  --h2-font-size: .938rem;
  --h3-font-size: .875rem;
  --normal-font-size: .813rem;
  --small-font-size: .75rem;
  --smaller-font-size: .688rem;
}

/*========== Generate PDF button ==========*/
.generate-pdf{
  display:none;
  position: absolute;
  top:2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}

.generate-pdf:hover{
  color: var(--title-color);
}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
.scale-cv .change-theme, .scale-cv .generate-pdf{
  display: none;
}

.scale-cv .bd-container{
  max-width: 595px ;
}

.scale-cv .section{
  padding:1.5rem 0 .80rem;
}

.scale-cv .section-title{
  margin-bottom: .75rem;
}

.scale-cv .resume__left, .scale-cv .resume__right{
  padding: 0 1rem;
}

.scale-cv .home__img{
  width: 90px;
  height: 90px;
}

.scale-cv .home__container{
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.scale-cv .home_data{
  gap: .25rem;
}

.scale-cv .home__address, 
.scale-cv .social__container{
  gap: .75rem;

}

.scale-cv .home__icon, 
.scale-cv .social__icon,
.scale-cv .interests__icon{
  font-size: 1rem;
}

.scale-cv .education__container, 
.scale-cv .experience__container{
  gap: .9rem;
}

.scale-cv .education__time, 
.scale-cv .experience__time{
  padding-right: .5rem;
}

.scale-cv .education__rounder,
.scale-cv .experience__rounder{
  width: 11px;
  height: 11px;
  margin-top: .22rem;
}

.scale-cv .education__line,
.scale-cv .experience__line{
  width: 1px;
  height: 110%;
  transform: translate(5px, 0);
}

.scale-cv .education__data,
.scale-cv .experience__data{
  gap: .25rem;
}

.scale-cv.skills__name{
  margin-bottom: var(--mb-1);
}

.scale-cv .interests__container{
  column-gap: 2.5rem;
}

body{
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,ul,p{
  margin:0;
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul{
  padding:0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--title-color);
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 1.5rem 0;
}

.section-title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}
/*========== LAYOUT ==========*/

.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left:var(--mb-3);
  margin-right: var(--mb-3);
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-3); 
}

.bd-grid{
  display: grid;
  gap:1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0,0,.1);
  transition: .3s;
}

/*========== NAV ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: var(--mb-1);
  margin-bottom: var(--mb-1); */

}

@media screen and (max-width: 968px){
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: .3s;
  }
  .home__quote{
    background-color: var(--text-color);
    padding: 0.75rem;
    border-radius: 10px;
    font-size: smaller;
    max-width: 400px;
  }
}

.nav__logo, .nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);


}

.nav__toggle{
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item{
  text-align: center;
}

.nav__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color:var(--text-color-light);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--title-color);
}

.nav__icon{
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

/* Show menu */
.show-menu{
  bottom: var(--header-height);
}

/* Active menu link */
.active-link{
  color:var(--title-color);
}

/*========== HOME ==========*/
.home{
  position: relative;

}

.home__container{
  gap:3rem;
}

.home__data{
  gap: .5rem;
  text-align: center;
}

.home__img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin: var(--mb-1);
}

.home__img:hover{
    filter: none;
    -webkit-filter: grayscale(100%);
}

.home__tilte{
  font-size: var(--h1-font-size);
}
.home__profession{
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home__address{
  gap:1rem
}

.home__information{
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.home__icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}

.home__button_mobile{
  display: inline-block;
  border: 2px solid var(--text-color);
  color:var(--title-color);
  padding: 1rem 2rem;
  border-radius: .25rem;
  transition: .3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}

.home__button_mobile:hover{
  background-color: var(--text-color);
  color: var(--container-color);
}

/*========== SOCIAL ==========*/
.social__container{
  grid-template-columns: max-content;
  gap: 1rem;
}

.social__link{
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.social__link:hover{
  color: var(--title-color);
}

.social__icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}

/*========== PROFILE ==========*/
.profile-description{
  text-align: center;
}
.home__quote{
  background-color: var(--container-color);
  padding: 0.75rem;
  border-radius: 10px;
  font-size: smaller;
}

@media screen and (max-width: 968px){
  .home__quote{
    background-color: var(--container-color-alt);
    padding: 0.75rem;
    border-radius: 10px;
    font-size: smaller;
    justify-self: center;
  }
}

.home-profile{
  font-style: italic;
  
}

/*========== EDUCATION AND EXPERIENCE ==========*/
.education__content, .experience__content{
  display: flex;
}


.education__time, .experience__time{
  padding-right: 1rem;

} 


.education__rounder, .experience__rounder{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: .25rem;

}

.education__line, .experience__line{
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform:translate(7px,0)
}

.education__data, .experience__data{ 
  gap:.5rem;

}

.education__title, .experience__title{
  font-size: var(--h3-font-size);
}

.education__studies, .experience__company{
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.education__year, .experience__year{
  font-size: var(--smaller-font-size);
}



/*========== SKILLS AND LANGUAGES ==========*/
.skills__content, .languages__content{
  grid-template-columns: repeat(2,1fr);

}

.skills__content{
  gap:0;
}

.skills__name, .languages__name{
  display: block;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skills__circle, .languages__circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: .75rem;
}

.education__title{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cum_laude{
  width: fit-content;
  background-color: var(--container-color-alt);
  padding: 5px;
  border-radius: 5px;
  font-size: smaller;
}


/*========== CERTIFICATES ==========*/


/*========== REFERENCES ==========*/


/*========== INTERESTS ==========*/
.interests__container{
  grid-template-columns: repeat(3,1fr);
  margin-top: var(--mb-2);

}

.bottom-section{
  padding-bottom:4rem;
}

.interests__content{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.interests__icon{
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: .2rem;
}

/* Scroll top */

.scrolltop{
  position:fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--container-color);  
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop__icon{
  font-size: 1.2rem;
  color: var(--text-color);
  
}

.show-scroll{
  visibility: visible;
  bottom: 7rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (max-width:320px){
  .nav__list{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem .5rem;
  }

}

/* For small devices, menu two columns */ 


/* Classes modified for large screen size */
@media screen and (min-width:968px) {
  .body{
    margin: 3rem 0;
  }
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
  .l-header, .scrolltop{
    display: none;
  }
  .resume{
    display:grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13,12,12,.15);
    width: fit-content;

  }
  .resume__left{
    background-color: var(--container-color-alt);
  }

  .resume__left, .resume__right{
    padding: 0 1.5rem;
  }

  .resume__right{
    padding-top: 3rem;
  }

  .generate-pdf{
    display: inline-block;
  }

  .section-title, .profile-description{
    text-align: initial;
  }

  .home__container{
    gap:1.5rem
  }

  .home__button_mobile{
    display: none;

  }

  .references__container{
    grid-template-columns: repeat(3, max-content);
  }

  .languages__content{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .interests__container{
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
  }

  
}


/*progress bar*/
/* ===== Google Font Import - Poppins ===== */

:root{
  --wpython: 82%;
  --wscala:65%;
  --wexcel:82%;
  --wbidevelopment:76%;
  --wproductmanagement:95%;
  --wpresentation:85%;
  --whumor:10%;
  --wanalytics:78%;
}


.container .skill-box{
    width: 80%;
    margin: 25px 0;
}
.skill-box .skill-title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}
.skill-box .skill-bar{
    height: 8px;

    border-radius: 6px;
    margin-top: 6px;
    margin-right: 1.5rem;
    background: rgba(1, 6, 4, 0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: var(--text-color-light);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per#wpython{
  width: var(--wpython);
  animation: progress 0s ease-in-out forwards;
}

.skill-per#python{
  width: var(--wpython);
  animation-delay: 0.3s;
}

.skill-per#scala{
  width:var(--wscala);
  animation-delay: 0.4s;
}
.skill-per#wscala{
  width:var(--wscala);
  animation: progress 0s ease-in-out forwards;
}

.skill-per#excel{
  width:var(--wexcel);
  animation-delay: 0.5s;
}

.skill-per#wexcel{
  width:var(--wexcel);
  animation: progress 0s ease-in-out forwards;
}

.skill-per#bidevelopment{
  width: var(--wbidevelopment);
  animation-delay: 0.6s;
}

.skill-per#wbidevelopment{
  width: var(--wbidevelopment);
  animation: progress 0s ease-in-out forwards;
}

.skill-per#productmanagement{
    width: var(--wproductmanagement);
    animation-delay: 0.7s;
}

.skill-per#wproductmanagement{
  width: var(--wproductmanagement);
  animation: progress 0s ease-in-out forwards;
}

.skill-per#presenting{
  width: var(--wpresentation);
  animation-delay: 0.8s;
}

.skill-per#wpresenting{
  width: var(--wpresentation);
  animation: progress 0s ease-in-out forwards;
}

.skill-per#humor{
  width: var(--whumor);
  animation-delay: 0.9s;
}

.skill-per#whumor{
  width: var(--whumor);
  animation: progress 0s ease-in-out forwards;
}

.skill-per#analytics{
  width: var(--wanalytics);
  animation-delay: 1s;
}

.skill-per#wanalytics{
  width: var(--wanalytics);
  animation: progress 0s ease-in-out forwards;
}


@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}
